{% extends "YWS2/layout.html" %}




{% block body %}
<div class="form_container">
    <form action="{% url 'YWS2:sign-in' %}" method="post">
        {% csrf_token %}
        <input type="text" name="userName" placeholder="user name" maxlength="12" required>
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" minlength="8" required>
        {% if massage %}
        <p style="color: red;">{{ massage }}</p>
        {% endif %}
        <p>have an account <a href="{% url 'YWS2:log-in' %}" style="color: blue;">log-in</a></p>
        <input type="submit" value="sign-in">
    </form>
</div>
{% endblock %}