{% extends "YWS1/layout.html" %}




{% block body %}


<div class="content">

    <div class="row_display">
        <div>
            <div class="form_container">
                <form action="{% url 'home' %}" method="post">
                    <h2>Order</h2>
                    {% csrf_token %}
                    {{ form }}
                    <p style="color: green;">{{ massage }}</p>
                    <input type="submit" id="submit" value="add order">
                </form>
            </div>
        </div>
        <div>
            <table>
                {% for i in users_orders reversed %}
                <tr>
                    <td>
                        <p>{{ i.id }}</p>
                    </td>
                    <td>
                        <p>{{ i.user_order }}</p>
                    </td>
                    <td>
                        <p>{{ i.user_gmail }}</p>
                    </td>
                    <td>
                        <p>{{ i.user_order_date_month }}/{{ i.user_order_date_day }}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        
    </div>
    
    

</div>

{% endblock %}