{% extends "YWS1/layout.html" %}




{% block body %}


<div class="content">
    
    <h1>my orders</h1>
    {% for i in orders %}
    {% empty %}
    <h2>there is no orders, make some.</h2>
    {% endfor %}
    
    <div class="row_display">
        <div>
            <div class="form_container">
                <form action="{% url 'YWS1:orders' %}" method="post">
                    <h2>Order</h2>
                    {% csrf_token %}
                    {{ form }}
                    <p style="color: green;">{{ massage }}</p>
                    <input type="submit" id="submit" value="add order">
                </form>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <p>order</p>
                    </td>
                    <td>
                        <p>date m/d</p>
                    </td>
                    <td>
        
                    </td>
                </tr>
                {% for i in orders reversed %}
                <tr>
                    <td>
                        <p>{{ i.user_order }}</p>
                    </td>
                    <td>
                        <p>{{ i.user_order_date_month }}/{{ i.user_order_date_day }}</p>
                    </td>
                    <td>
                        <p>
                            <a href="{% url 'YWS1:ordersDelete' i.id %}">delete</a>
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>



</div>

{% endblock %}