{% extends "YWS1/layout.html" %}




{% block body %}


<div class="content">

    <div class="form_container">
        <form action="{% url 'YWS1:signin' %}" method="post">
            {% csrf_token %}
            <h2>signin</h2>
            {{ form }}
            <p style="color: red;">{{ massage }}</p>
            <p>you have an accont <a href="{% url 'YWS1:login' %}" style="color: blue;text-decoration: underline;">log-in</a></p>
            <input type="submit" value="signin">
        </form>
    </div>

</div>

{% endblock %}