{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'YWS2/style.css' %}">
    <title>Document</title>
</head>

<body>
    <header>
        <ul>
            <a style="background-color: green;" href="{% url 'home' %}">logo</a>
            <a href="{% url 'YWS2:log-in' %}">login</a>
            <a href="{% url 'YWS2:sign-in' %}">signin</a>
            <a href="{% url 'YWS2:log-out' %}">logout</a>
            <a>item-4</a>
            <div>
                <a style="background-color: lightskyblue;">
                    {% if user.name == '' %}
                    <p>user-none</p>
                    {% else %}
                    {{ user.name }}
                    {% endif %}
                </a>
                <a style="background-color: gray;" onclick="showHeaderOptions()">bar</a>
            </div>
        </ul>
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </header>

    <div class="content">
        {% block body %}
        {% endblock %}
    </div>

    <footer>
        <p>hallo</p>
    </footer>

    <script>

        var barState = true;
        function showHeaderOptions() {
            var x = document.querySelector("header");
            if (x.className === "") {
                x.className += "showHeader";
                barState = false;
            } else {
                x.className = "";
                barState = true;
            }
        }

        //scroll
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function scroll() {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.querySelector("header").style.top = "0";
            } else if (barState) {
                document.querySelector("header").style.top = "calc(-7vh + -4px)";
            }
            prevScrollpos = currentScrollPos;
            progressbar();
        }

        //progress bar
        function progressbar() {
            var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            var scrolled = (winScroll / height) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
        }


        //header shower
        document.querySelector("body").onclick = function () {
            document.querySelector("header").style.top = "0";
        }

    </script>
</body>

</html>